.idea/
__pycache__/
Datasets/
data/
models/
logs/
logs_bak/
reports/
docs/
mepfl_model_aiops22
mepfl_model_gaia
Report_ccf_aiops
Report_gaia
tvdig_checkpoint
tvdig_checkpoint_ccf_v3
*.tex
*.bib
*.pkl
patterncla.pt
0*_log_fault
0*_metric_fault
0*_microcause
0*_trace_ano
0*_tracerca